<!DOCTYPE html>
<html lang="en">

<head>
  <!-- HTML Meta Tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TheMorfi - Login</title>
  <meta name="description"
    content="The Morfi is a restaurant franchise dedicated to offering the public a new experience with food. Come and discover healthy meals, unique recipes, products of the best quality, events, and much more">
  <meta name="keywords" content="THE, MORFI, FOOD, HEALTHY, BEST">

  <!-- Google / Search Engine Tags -->
  <meta itemprop="name" content="The Morfi">
  <meta itemprop="description"
    content="The Morfi is a restaurant franchise dedicated to offering the public a new experience with food. Come and discover healthy meals, unique recipes, products of the best quality, events, and much more">
  <meta itemprop="image" content="https://i.imgur.com/NRUXriX.jpg">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://arguel.github.io/morfi">
  <meta property="og:type" content="website">
  <meta property="og:title" content="The Morfi">
  <meta property="og:description"
    content="The Morfi is a restaurant franchise dedicated to offering the public a new experience with food. Come and discover healthy meals, unique recipes, products of the best quality, events, and much more">
  <meta property="og:image" content="https://i.imgur.com/NRUXriX.jpg">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="The Morfi">
  <meta name="twitter:description"
    content="The Morfi is a restaurant franchise dedicated to offering the public a new experience with food. Come and discover healthy meals, unique recipes, products of the best quality, events, and much more">
  <meta name="twitter:image" content="https://i.imgur.com/NRUXriX.jpg">

  <!-- Main CSS -->
  <link rel="stylesheet" href="../../assets/css/main.css" type="text/css">

  <!-- Google / Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">

  <!-- Tab Icon -->
  <link rel="icon" href="../../img/logo/white_background/small_logo_icon/svg/small_logo_icon.svg">

  <!--Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/1131adf3a1.js" crossorigin="anonymous"></script>
  <!--------------------->
</head>

<body>
  <main>
    <section class="container-xxl my-4">
      <a href="/">
        <figure class="text-center h-100px">
          <img class="h-100 w-auto" src="../../img/logo/white_background/full_logo/svg/full_logo.svg" alt="TheMorfi">
        </figure>
      </a>
    </section>
    <section class="container-xxl bg-dark">
      <div class="row align-items-center justify-content-evenly">
        <div class="col-md-5 d-none d-lg-block rounded my-5 min-h-400px overflow-hidden">
          <figure class="m-0 h-400px overflow-hidden rounded">
            <img class="img-fluid img-rez rounded" src="https://placekitten.com/600/400" alt="image">
            <!--<img class="img-fluid img-rez rounded" src="../../img/account/login/4004991.png" alt="image">-->
          </figure>
        </div>
        <div class="col-11 col-sm-10 col-lg-5 bg-white rounded my-5 min-h-400px">

          <div class="d-flex align-items-center min-h-400px">
            <form class="row needs-validation p-2 p-sm-3" novalidate>
              <!--f-email-->
              <div class="col-md-11 mx-auto mb-3">
                <label for="email-i" class="form-label">Email</label>
                <input type="email" class="form-control" id="email-i" placeholder="email@domain.com"
                  aria-describedby="email-i-feedback" required>
                <div id="email-i-feedback" class="invalid-feedback">
                  Please choose a valid email.
                </div>
              </div>
              <!--f-email-->

              <!--f-password-->
              <div class="col-md-11 mx-auto mb-3">
                <label for="password-i" class="form-label">Password</label>
                <input type="password" class="form-control" id="password-i" placeholder="password"
                  aria-describedby="password-i-feedback" required>
                <div id="password-i-feedback" class="invalid-feedback">
                  Please provide a valid password
                </div>
                <span class="d-block mt-2"><a class="text-dark" href="#">Forgot your password?</a></span>
              </div>
              <!--f-password-->

              <!--f-login-btn-->
              <div class="col-12 mb-3">
                <button class="btn btn-success d-block mx-auto login-w-50" type="submit">Log in</button>
                <span class="d-block mt-4 text-center">Don't have an account? <a href="../account/register.html">Sign
                    up</a></span>
              </div>
              <!--f-login-btn-->
            </form>
          </div>

        </div>

      </div>
    </section>

  </main>
  <script charset="utf-8">
    (function () {
      'use strict'
      var forms = document.querySelectorAll('.needs-validation')
      Array.prototype.slice.call(forms)
        .forEach(function (form) {
          form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
              event.preventDefault()
              event.stopPropagation()
            }
            form.classList.add('was-validated')
          }, false)
        })
    })()
  </script>

  <!--bootstrap js-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
</body>
