.cart-title-250px {
  width: auto !important;

  @include bps($bp-md) {
    width: 15.625em !important; //250px
  }
  @include bps($bp-lg) {
    width: auto !important;
  }
}
.ps-60px {
  padding-left: 3.75em !important;

  @include bps($bp-xs) {
    padding-left: initial !important;
  }
}
