/*====BASE====*/
body {
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
}
/*===============$Home=============================================*/
/*=.=.=.=.=.=.=.=.=.=NEWS=.=.=.=.=.=.=.=.=.=*/
/*main container*/
.container-mw-1000px {
  max-width: 1000px;
}
/*=.=.=.=.=.=.=.=.=.=OFFERS=.=.=.=.=.=.=.=.=.=*/
/*flex wood background*/
.top-offers-data-container {
    background: url("https://image.freepik.com/foto-gratis/fondo-madera_24972-623.jpg") no-repeat;
    background-size: 100% 100%;
    opacity: 0.94;
}
/*--------------ARROW-ICONS---------------------*/
.toffer-arrow {
    color: white;
    cursor: pointer;
}
/*=.=.=.=.=.=.=.=.=.=NEWSLETTER=.=.=.=.=.=.=.=.=.=*/
.newsletter {
    max-width: 800px;
    margin: 3em auto;
}
.newsletter__data {
    background-image: linear-gradient(to bottom, #3D3D3D, #929292 15%, #CECECE 50%, #929292 85%, #3D3D3D);
    box-shadow: 0px 5px 15px rgba(0,0,0,1);
    color: #212121;
}
.newsletter__data div {
    width: 50%;
    text-align: center;
}
.newsletter__data div * {
    display: block;
    margin: 5px auto;
}
/*input for email*/
.newsletter__data input[name="newsletter-input"] {
    width: 80%;
    height: 1.5rem;
    border-radius: 5px;
    border-width: 0;
}
/*button*/
.newsletter__data input[name="newsletter-btn"] {
    padding: .6rem .8rem;
    border-radius: 5px;
    border-width: 0;
    background-color: #212121;
    color: white;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    outline: none;
}
/*=.=.=.=.=.=.=.=.=.=CUSTOMER=.=.=.=.=.=.=.=.=.=*/
/*--------------TEC-INFO---------------------*/
/*h1 and p container*/
.tec-info {
    font-size: 1.2em;
}
.tec-info p {
    color: #757575;
}
.tec-info-title {
    color: #212121;
}
/*--------------CUSTOMER-TESTIMONIOS---------------------*/
.wrapper-customer {
    background-color: #212121;
}
.customer-photo {
    border: solid 1px #757575;
    color: white;
}
.customer-review {
    color: white;
}
/*===============FOOTER=============================================*/
.footer-top {
    background-color: #D7D7D7;
    /*height: 11em;*/
}
/*--------------FOOTER-TOP-LEFT---------------------*/
/*img and p left side container*/
.footer-logo {
    max-width: 200px;
    max-height: 100px;
}
.footer-logo-img {
    width: 100%;
    height: 90px;
}
.footer-logo-p {
    max-width: 200px;
    font-size: 1.1rem;
    font-weight: 400;
    color: #212121;
}
.social-icons li {
    text-align: center;
}
.social-icons li a {
    color: #212121;
    font-size: 1.5em;
}
/*--------------FOOTER-TOP-RIGHT---------------------*/
.footer-top-right ul li {
    padding: 5px;
    position: relative;
}
.footer-top-right ul li a {
    color: #212121;
    font-weight: 400;
    font-size: 1.1rem;
    white-space: nowrap;
}
.footer-top-right ul li a:hover {
    color: white;
}
/*--------------FOOTER-BOTTOM---------------------*/
.footer-bottom {
    background-color: #212121;
}
.footer-link {
    font-weight: 400;
    color: white;
}
/*--------------DROPDOWN LANGUAGE---------------------*/
/*div that activates the dropdown in the footer*/
.change-language {
    color: white;
    display: inline-block;
    font-weight: 400;
    position: relative;
    cursor: pointer;
}
/*footer-sublist is the dropdown list*/
.change-selector .footer-sublist {
    background-color: white;
    box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    position: absolute;
    top: -50px;
    display: none;
}
.change-selector .footer-sublist li a {
    color: #212121;
}
.change-selector:hover .footer-sublist {
    display: block;
}
/*--------------RIGHTS---------------------*/
.rights {
    color: white;
    font-weight: 400;
}
.asd {
    width: 1000px;
    margin: auto;
}
/*===============MEDIA QUERIES=============================================*/
/*--------------SMARTPHONE-------------*/
//@media (min-width: 576px) {
  //.news {
    //max-width: 540px;
    //background-color: grey;
  //}
//}

//@media (min-width: 768px) {
  //.news {
    //max-width: 600px;
    //background-color: red;
  //}
//}
//@media (min-width: 992px) {
  //.news {
    //max-width: 960px;
    //background-color: yellow;
  //}
//}
//@media (min-width: 1200px) {
  //.news {
    //max-width: 1140px;
    //max-width: 1000px;
  //}
//}

//@media (min-width: 1400px) {
  //.news {
    //max-width: 1320px;
  //}
//}
/*===============UTILS=============================================*/
.list-none {
    list-style-type: none;
    padding: 0;
    z-index: 1;
}
.subtitle {
    font-size: 1.3rem;
}
.of-hidden {
    overflow: hidden;
}
.h1-title {
    font-weight: 600;
    font-size: 2rem;
    color: #757575;
    margin: 1.5rem;
}
.br-10 {
    border-radius: 10px;
}

/*--------------------------------------------------*/

