.rb-custom-1:before {
  content: '';
  display: block;
  border-left: solid 1px $color-darker-3;
  height: 3em;
  margin: 1em 0;
}
.bg-linear-1 {
  background: rgb(235,28,36);
  background: -moz-linear-gradient(176deg, rgba(235,28,36,1) 60%, rgba(255,255,255,0) 61%);
  background: -webkit-linear-gradient(176deg, rgba(235,28,36,1) 60%, rgba(255,255,255,0) 61%);
  background: linear-gradient(176deg, rgba(235,28,36,1) 60%, rgba(255,255,255,0) 61%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eb1c24",endColorstr="#ffffff",GradientType=1);
}
.bg-linear-2 {
  background: rgb(228,238,213);
  background: -moz-linear-gradient(176deg, rgba(228,238,213,1) 60%, rgba(203,220,235,1) 61%);
  background: -webkit-linear-gradient(176deg, rgba(228,238,213,1) 60%, rgba(203,220,235,1) 61%);
  background: linear-gradient(176deg, rgba(228,238,213,1) 60%, rgba(203,220,235,1) 61%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e4eed5",endColorstr="#cbdceb",GradientType=1);
}
