/*====BASE====*/
body {
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
}
/*===============HEADER/NAV=============================================*/
.nav-logo {
    height: 2.5em;
    text-align: center;
}
.nav-searchbar {
    height: 2em;
    background-color: unset;
}
.fa-search {
    color: #D7D7D7;
}
/*===============$Home=============================================*/
/*=.=.=.=.=.=.=.=.=.=NEWS=.=.=.=.=.=.=.=.=.=*/
/*main container*/
.news-container {
    display: grid;
    grid-template-rows: 310px 200px;
    grid-template-columns: 590px 400px;
    grid-gap: 10px;
    margin: 0 auto;
    max-width: 1000px;
}
/*big image container*/
.events {
    grid-column: 1 / 3;
}
.events:hover {
    opacity: 0.95;
    cursor: pointer;
}
.events-img {
    height: 310px;
    width: 100%;
    opacity: 0.95;
    cursor: pointer;
    object-fit: cover;
}
/*medium image container*/
.news:hover {
    opacity: 0.95;
    cursor: pointer;
}
.news-img {
    height: inherit;
    width: 100%;
    transform: translateY(-15%);
}
/*small image container*/
.news-food:hover {
    opacity: 0.95;
    cursor: pointer;
}
.news-food-img {
    height: inherit;
    width: 100%;
    transform: translateY(-5%);
}

/*=.=.=.=.=.=.=.=.=.=OFFERS=.=.=.=.=.=.=.=.=.=*/
/*flex wood background*/
.top-offers-data-container {
    background: url("https://image.freepik.com/foto-gratis/fondo-madera_24972-623.jpg") no-repeat;
    background-size: 100% 100%;
    opacity: 0.94;
}
/*--------------ARROW-ICONS---------------------*/
.toffer-arrow {
    color: white;
    cursor: pointer;
}
/*=.=.=.=.=.=.=.=.=.=NEWSLETTER=.=.=.=.=.=.=.=.=.=*/
.newsletter-container {
    background-image: linear-gradient(to bottom, #3D3D3D, #929292 15%, #CECECE 50%, #929292 85%, #3D3D3D);
    box-shadow: 0px 5px 15px rgba(0,0,0,1);
    color: #212121;
}
.newsletter-container aside {
    width: 50%;
    text-align: center;
}
.newsletter-container aside * {
    display: block;
    margin: 5px auto;
}
/*input for email*/
.newsletter-container input[name="newsletter"] {
    width: 80%;
    height: 1.5rem;
    border-radius: 5px;
    border-width: 0;
}
/*button*/
.newsletter-container input[name="newsletter-btn"] {
    padding: .6rem .8rem;
    border-radius: 5px;
    border-width: 0;
    background-color: #212121;
    color: white;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    outline: none;
}
/*=.=.=.=.=.=.=.=.=.=CUSTOMER=.=.=.=.=.=.=.=.=.=*/
/*--------------TEC-INFO---------------------*/
/*h1 and p container*/
.tec-info {
    font-size: 1.2em;
}
.tec-info p {
    color: #757575;
}
.tec-info-title {
    color: #212121;
}
/*--------------CUSTOMER-TESTIMONIOS---------------------*/
.wrapper-customer {
    background-color: #212121;
}
.customer-photo {
    border: solid 1px #757575;
    color: white;
}
.customer-review {
    color: white;
}
/*===============FOOTER=============================================*/
.footer-top {
    background-color: #D7D7D7;
    /*height: 11em;*/
}
/*--------------FOOTER-TOP-LEFT---------------------*/
/*img and p left side container*/
.footer-logo {
    max-width: 200px;
    max-height: 100px;
}
.footer-logo-img {
    width: 100%;
    height: 90px;
}
.footer-logo-p {
    max-width: 200px;
    font-size: 1.1rem;
    font-weight: 400;
    color: #212121;
}
.social-icons li {
    text-align: center;
}
.social-icons li a {
    color: #212121;
    font-size: 1.5em;
}
/*--------------FOOTER-TOP-RIGHT---------------------*/
.footer-top-right ul li {
    padding: 5px;
    position: relative;
}
.footer-top-right ul li a {
    color: #212121;
    font-weight: 400;
    font-size: 1.1rem;
    white-space: nowrap;
}
.footer-top-right ul li a:hover {
    color: white;
}
/*--------------FOOTER-BOTTOM---------------------*/
.footer-bottom {
    background-color: #212121;
}
.footer-link {
    font-weight: 400;
    color: white;
}
/*--------------DROPDOWN LANGUAGE---------------------*/
/*div that activates the dropdown in the footer*/
.change-language {
    color: white;
    display: inline-block;
    font-weight: 400;
    position: relative;
    cursor: pointer;
}
/*footer-sublist is the dropdown list*/
.change-selector .footer-sublist {
    background-color: white;
    box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    position: absolute;
    top: -50px;
    display: none;
}
.change-selector .footer-sublist li a {
    color: #212121;
}
.change-selector:hover .footer-sublist {
    display: block;
}
/*--------------RIGHTS---------------------*/
.rights {
    color: white;
    font-weight: 400;
}
/*===============MEDIA QUERIES=============================================*/
/*--------------SMARTPHONE-------------*/
@media only screen and (min-width: 768px) {
    body {
        /*background-color: red;*/
    }
}
/*===============UTILS=============================================*/
.list-none {
    list-style-type: none;
    padding: 0;
    z-index: 1;
}
.subtitle {
    font-size: 1.3rem;
}
.of-hidden {
    overflow: hidden;
}
.h1-title {
    font-weight: 600;
    font-size: 2rem;
    color: #757575;
    margin: 1.5rem;
}
.br-10 {
    border-radius: 10px;
}
