<!DOCTYPE html>
<html lang="en">

<head>
  <!-- HTML Meta Tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Morfi - Shop</title>
  <meta name="description"
    content="The Morfi is a restaurant franchise dedicated to offering the public a new experience with food. Come and discover healthy meals, unique recipes, products of the best quality, events, and much more">

  <!-- Google / Search Engine Tags -->
  <meta itemprop="name" content="The Morfi">
  <meta itemprop="description"
    content="The Morfi is a restaurant franchise dedicated to offering the public a new experience with food. Come and discover healthy meals, unique recipes, products of the best quality, events, and much more">
  <meta itemprop="image" content="https://i.imgur.com/NRUXriX.jpg">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://arguel.github.io/morfi">
  <meta property="og:type" content="website">
  <meta property="og:title" content="The Morfi">
  <meta property="og:description"
    content="The Morfi is a restaurant franchise dedicated to offering the public a new experience with food. Come and discover healthy meals, unique recipes, products of the best quality, events, and much more">
  <meta property="og:image" content="https://i.imgur.com/NRUXriX.jpg">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="The Morfi">
  <meta name="twitter:description"
    content="The Morfi is a restaurant franchise dedicated to offering the public a new experience with food. Come and discover healthy meals, unique recipes, products of the best quality, events, and much more">
  <meta name="twitter:image" content="https://i.imgur.com/NRUXriX.jpg">
  <link rel="stylesheet" href="assets/css/main.css" type="text/css">

  <!-- Main CSS -->
  <link rel="stylesheet" href="../../assets/css/main.css" type="text/css">

  <!-- Google / Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">

  <!-- Tab Icon -->
  <link rel="icon" href="img/logo/white_background/small_logo_icon/svg/small_logo_icon.svg">

  <!--Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/1131adf3a1.js" crossorigin="anonymous"></script>
  <!--------------------->
</head>

<body>

  <header>
    <!--nav-->
  </header>

  <main>
    <div class="slider">
      <div class="container-md">
        <button class="slider__btn">l</button>
        <div class="slider__carrusel">
          <div class="slider__img slider__img--offer1">offer1</div>
          <div class="slider__img slider__img--offer2">offer2</div>
        </div>
        <button class="slider__btn">r</button>
      </div>
    </div>


    <section class="container-xxl">
      <div class="row align-content-evenly justify-content-evenly">
        <aside class="col-3 bg-primary">
          div.
        </aside>
        <section class="col-8 bg-success">
          <div class="row justify-content-evenly text-center">
            <div class="col-3 bg-light">1</div>
            <div class="col-3 bg-light">2</div>
            <div class="col-3 bg-light">3</div>
          </div>
        </section>
      </div>

      <div class="shop-item">
        <div class="shop-item__img">img</div>
        <div class="shop-item__desc">desc</div>
        <button class="shop-item__btn shop-item__btn--buy">Buy</button>
      </div>

      <nav class="m-8" aria-label="...">
        <ul class="pagination align-items-center justify-content-center m-4">
          <li class="page-item disabled">
            <span class="page-link">Previous</span>
          </li>
          <li class="page-item active" aria-current="page"><a class="page-link px-7" href="#">1</a></li>
          <li class="page-item"><a class="page-link px-7" href="#">2</a></li>
          <li class="page-item"><a class="page-link px-7" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </section>
  </main>

  <footer>
    <!--footer-->
  </footer>

  <script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
