<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shop</title>
  <link rel="stylesheet" href="../../bootstrap-5.0.0-beta1-dist/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="../../assets/css/index.css" type="text/css">
  <!--start-google-fonts-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
  <!--end-google-fonts-->
  <!--start-tab icon-->
  <link rel="icon" href="img/logo/white_background/small_logo_icon/svg/optimized/small_logo_icon.svg">
  <!--end-tab icon-->
  <!--start-font-awesome-icons-->
  <script src="https://kit.fontawesome.com/1131adf3a1.js" crossorigin="anonymous"></script>
  <!--end-font-awesome-icons-->
  <!--------------------->
</head>

<body>
  <main class="container-xxl">
    <div class="row align-content-evenly justify-content-evenly">
      <aside class="col-3 bg-primary">
        div.
      </aside>
      <section class="col-8 bg-success">
        <div class="row justify-content-evenly text-center">
          <div class="col-3 bg-light">1</div>
          <div class="col-3 bg-light">2</div>
          <div class="col-3 bg-light">3</div>
        </div>
      </section>

      <nav class="m-4" aria-label="...">
        <ul class="pagination align-items-center justify-content-center m-0">
          <li class="page-item disabled">
            <span class="page-link">Previous</span>
          </li>
          <li class="page-item active" aria-current="page"><a class="page-link px-3" href="#">1</a></li>
          <li class="page-item"><a class="page-link px-3" href="#">2</a></li>
          <li class="page-item"><a class="page-link px-3" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </div>

    <script src="../../bootstrap-5.0.0-beta1-dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
