<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- HTML Meta Tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TheMorfi - Our products</title>
    <meta
      name="description"
      content="The Morfi is a restaurant franchise dedicated to offering the public a new experience with food. Come and discover healthy meals, unique recipes, products of the best quality, events, and much more"
    />
    <meta name="keywords" content="THE, MORFI, FOOD, HEALTHY, BEST" />

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="The Morfi" />
    <meta
      itemprop="description"
      content="The Morfi is a restaurant franchise dedicated to offering the public a new experience with food. Come and discover healthy meals, unique recipes, products of the best quality, events, and much more"
    />
    <meta itemprop="image" content="https://i.imgur.com/NRUXriX.jpg" />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://enzoarguello512.github.io/morfi" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="The Morfi" />
    <meta
      property="og:description"
      content="The Morfi is a restaurant franchise dedicated to offering the public a new experience with food. Come and discover healthy meals, unique recipes, products of the best quality, events, and much more"
    />
    <meta property="og:image" content="https://i.imgur.com/NRUXriX.jpg" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="The Morfi" />
    <meta
      name="twitter:description"
      content="The Morfi is a restaurant franchise dedicated to offering the public a new experience with food. Come and discover healthy meals, unique recipes, products of the best quality, events, and much more"
    />
    <meta name="twitter:image" content="https://i.imgur.com/NRUXriX.jpg" />

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../assets/css/main.css" type="text/css" />

    <!-- Google / Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet" />

    <!-- Tab Icon -->
    <link rel="icon" href="../../img/logo/white_background/small_logo_icon/svg/small_logo_icon.svg" />

    <!--Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/1131adf3a1.js" crossorigin="anonymous"></script>
    <!--------------------->
  </head>

  <body>
    <header>
      <!--Start of nav-menu-container-->
      <div class="container-xxl navbar-min-h fixed-top bg-white">
        <nav class="navbar navbar-expand-lg navbar-light m-2">
          <div class="h-40px text-center">
            <a class="navbar-brand" href="/">
              <img
                class="h-100 w-auto"
                src="../../img/logo/white_background/medium_logo_side/svg/medium_logo_side.svg"
                alt="side-logo"
              />
            </a>
          </div>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!--nav-->
            <ul class="navbar-nav align-items-center justify-content-around mx-auto col-lg-8">
              <!--Home-->
              <li class="nav-item">
                <a class="nav-link fs-5" href="/" aria-current="page">Home</a>
              </li>
              <!--About-->
              <li class="nav-item dropdown text-center">
                <a
                  class="nav-link active fs-5"
                  href="#"
                  id="navbarDropdownMenuLinkAbout"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  >About</a
                >
                <ul
                  class="nav-color-list dropdown-menu text-center text-lg-start"
                  aria-labelledby="navbarDropdownMenuLinkAbout"
                >
                  <li><a class="dropdown-item" href="../about/about-us.html">About us</a></li>
                  <li><a class="dropdown-item" href="../about/locations.html">Locations</a></li>
                  <li><a class="dropdown-item" href="../about/our-products.html">Our products</a></li>
                </ul>
              </li>
              <!--Shop-->
              <li class="nav-item dropdown text-center">
                <a
                  class="nav-link fs-5"
                  href="#"
                  id="navbarDropdownMenuLinkShop"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  >Shop</a
                >
                <ul
                  class="nav-color-list dropdown-menu text-center text-lg-start"
                  aria-labelledby="navbarDropdownMenuLinkDrop"
                >
                  <li><a class="dropdown-item" href="../shop/shop.html">Catalogue</a></li>
                  <li><a class="dropdown-item" href="../shop/top-offers.html">Top offers</a></li>
                </ul>
              </li>
              <!--Recipes-->
              <li class="nav-item dropdown text-center">
                <a
                  class="nav-link fs-5"
                  href="#"
                  id="navbarDropdownMenuLinkRecipes"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  >Recipes</a
                >
                <ul
                  class="nav-color-list dropdown-menu text-center text-lg-start"
                  aria-labelledby="navbarDropdownMenuLinkRecipes"
                >
                  <li><a class="dropdown-item" href="../recipes/classics.html">Classics</a></li>
                  <li><a class="dropdown-item" href="../recipes/healthy-recipes.html">Healthy</a></li>
                  <li><a class="dropdown-item" href="../recipes/wholemeal-recipes.html">Wholemeal</a></li>
                  <li><a class="dropdown-item" href="../recipes/easy-recipes.html">Easy</a></li>
                </ul>
              </li>
              <!--Help-->
              <li class="nav-item dropdown text-center">
                <a
                  class="nav-link fs-5"
                  href="#"
                  id="navbarDropdownMenuLinkHelp"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  >Help</a
                >
                <ul
                  class="nav-color-list dropdown-menu text-center text-lg-start"
                  aria-labelledby="navbarDropdownMenuLinkHelp"
                >
                  <li><a class="dropdown-item" href="../help/contact.html">Contact</a></li>
                  <li><a class="dropdown-item" href="../help/faq/faq.html">FAQ</a></li>
                </ul>
              </li>
              <!--Searchbar-->
              <li class="nav-item">
                <form>
                  <div class="input-group">
                    <button class="input-group-text nav-searchbar" id="search-icon" aria-label="searchbar icon">
                      <i class="fas fa-search"></i>
                    </button>
                    <input
                      type="text"
                      class="form-control nav-searchbar"
                      placeholder="Search"
                      aria-label="Search"
                      aria-describedby="search-icon"
                    />
                  </div>
                </form>
              </li>
            </ul>
            <hr />
            <!--account-nav-->
            <ul class="navbar-nav align-items-center justify-content-evenly min-w-179px">
              <li class="nav-item d-block d-lg-flex text-center btn-login-container m-1">
                <a class="nav-link btn-login rounded text-nowrap px-4 py-3 px-lg-2 py-lg-2" href="../account/login.html"
                  >Log in</a
                >
              </li>
              <li class="nav-item text-center btn-sign-up-container m-1">
                <a
                  class="nav-link btn-sign-up rounded text-nowrap px-4 py-3 px-lg-2 py-lg-2"
                  href="../account/register.html"
                  >Sign up</a
                >
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <!--End of nav-menu-container-->
    </header>

    <main class="mt-11">
      <section class="container-xl my-5">
        <!--big container-->
        <h1 class="text-center text-uppercase ff-lato-7 fs-3">Our products</h1>
        <div class="p-0 p-md-5 rounded-2">
          <!--list of our products start-->
          <nav class="bg-light border rounded">
            <div class="nav nav-pills" id="pills-nav" role="tablist">
              <button
                class="nav-link active me-auto ff-lato-7"
                id="nav-item1-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-item1"
                type="button"
                role="tab"
                aria-controls="nav-item1"
                aria-selected="true"
              >
                Wheat
              </button>

              <button
                class="nav-link me-auto ff-lato-7"
                id="nav-item2-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-item2"
                type="button"
                role="tab"
                aria-controls="nav-item2"
                aria-selected="false"
              >
                Soybeans
              </button>

              <button
                class="nav-link me-auto ff-lato-7"
                id="nav-item3-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-item3"
                type="button"
                role="tab"
                aria-controls="nav-item3"
                aria-selected="false"
              >
                Corn
              </button>

              <button
                class="nav-link me-auto ff-lato-7"
                id="nav-item4-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-item4"
                type="button"
                role="tab"
                aria-controls="nav-item4"
                aria-selected="false"
              >
                Rice
              </button>

              <button
                class="nav-link me-auto ff-lato-7"
                id="nav-item5-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-item5"
                type="button"
                role="tab"
                aria-controls="nav-item5"
                aria-selected="false"
              >
                Potato
              </button>
            </div>
          </nav>
          <!--list of our products end-->

          <!--content box start-->
          <div class="tab-content ff-lato-4" id="pills-tabContent">
            <!--nav-item-1-->
            <div
              class="tab-pane fade show bg-white active"
              id="nav-item1"
              role="tabpanel"
              aria-labelledby="nav-item1-tab"
            >
              <div class="row align-items-center justify-content-center p-4">
                <!--row 1-->
                <div class="col-md-12 mb-5 fs-5">
                  <h3 class="mb-3 ff-lato-7 fs-3">Production</h3>
                  <p class="t-indent-2">
                    Wheat production in the U.S. is a changing picture, mostly due to reduced profitability. Kansas,
                    once the country’s wheat powerhouse, is now planting the lowest number of winter wheat varieties in
                    99 years. It is a
                    <a href="https://www.agriculture.com/crops/wheat/goodbye-kansas-wheat"
                      >trend that is expected to continue</a
                    >
                    as global competitors gain an advantage.
                  </p>
                  <p>
                    Growers are shifting to more profitable crops. Experts at Oklahoma State University claim it costs
                    nearly $170 per acre to grow red wheat, requiring a market price of $4.89 per bushel to break even.
                  </p>
                  <p>
                    Water supplies are a growing issue for producers of winter or spring wheat, and many are finding
                    drought-resistant varieties of corn to be a better alternative.
                  </p>
                  <p>
                    Regardless of the type of wheat, the experts say U.S. producers will continue to face challenges
                    that will likely change the agricultural makeup of the Southern Plains and other wheat-growing
                    regions.
                  </p>
                </div>
                <!--row 1-->

                <!--row 2-->
                <div class="col-12 col-sm-10 col-lg-6 mb-5 text-center">
                  <figure class="figure">
                    <img class="img-fluid rounded" src="../../img/about/our-products/wheat.webp" alt="wheat" />
                  </figure>
                </div>
                <div class="col-12 col-lg-6 mb-5 fs-5">
                  <h3 class="mb-3 ff-lato-7 fs-3">Growing Wheat Sustainability</h3>
                  <p>
                    Like farmers of all crops, wheat growers work to protect their land and natural resources while
                    increasing profit and productivity.
                    <a href="https://www.agriculture.com/crops/wheat/cropping-every-acre">
                      Rotating wheat with a diverse array of crops, all with little or no till practices</a
                    >
                    improves soil health, reduces wind and water erosion, and conserves moisture.
                  </p>
                  <p>
                    Northern growers are able to
                    <a href="https://www.agriculture.com/crops/wheat/production/top-fage-winter-wheat_145-ar42670"
                      >utilize awnless wheat as livestock forage</a
                    >. As a rotational crop, winter wheat can serve as a winter cover crop, protecting the soil from
                    erosion with fewer nitrate problems than other cereal cover crops.
                  </p>
                </div>
                <!--row 2-->

                <!--row 3-->
                <div class="col-md-12 mb-5 fs-5">
                  <h3 class="mb-3 ff-lato-7 fs-3">Improving Wheat Yields</h3>
                  <p>
                    Successfully growing wheat means getting the highest yields possible. Some producers have recorded
                    yields as high as 120 bushels per acre, but that is not the norm. Producers must constantly work to
                    <a
                      href="https://www.agriculture.com/crops/wheat/production/three-ways-to-boost-wheat-yields_145-ar52068"
                    >
                      reduce loss by identifying disease, treating seeds with the right products, and managing seed
                      populations</a
                    >.
                  </p>
                  <p>
                    Even a more realistic goal of 100 bushels per acre is difficult to achieve. Researchers studying the
                    common practices of top growers have
                    <a href="https://www.agriculture.com/crops/wheat/production/top-secrets-100bushel-wheat_145-ar42224"
                      >identified practices that help increase yields</a
                    >. High yield growers are diligent about weed, pest and fungus control, use ample nitrogen
                    fertilizer, plant rows at optimum width, and use no-till soil management.
                  </p>
                  <p>
                    In-season management practices like
                    <a href="https://www.agriculture.com/crops/wheat/how-to-snap-up-wheat-yields"
                      >normalized difference vegetation index (NDVI) imagery</a
                    >, that helps identify nitrogen needs, add to the prospect of producing a healthy, high-yielding
                    crop.
                  </p>
                  <p>
                    Wheat production will need to increase by 1.6% per year to meet projected world food demands by
                    2050. The challenge is to accomplish this goal without additional cultivated land, placing
                    intensified importance on crop genetics and improved production practices.
                  </p>
                </div>
                <!--row 3-->

                <!--row 4-->
                <div class="col-md-12 mb-5 fs-5">
                  <div class="ratio ratio-16x9">
                    <iframe
                      src="https://www.youtube-nocookie.com/embed/5UJnbTftT9I"
                      frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen
                    ></iframe>
                  </div>
                </div>
                <!--row 4-->
              </div>
            </div>
            <!--nav-item-1-->

            <!--nav-item-2-->
            <div class="tab-pane fade show bg-white" id="nav-item2" role="tabpanel" aria-labelledby="nav-item2-tab">
              <div class="row align-items-center justify-content-center p-4">
                <!--row 1-->
                <div class="col-md-12 mb-3 fs-5">
                  <h3 class="mb-3 ff-lato-7 fs-3">Best time to sow soybean</h3>
                  <p class="t-indent-2">
                    Soybeans are best suited to the northern irrigation areas of Victoria where summer temperatures are
                    warm and day length is longer.
                  </p>
                  <p>
                    In tropical areas of Australia they can be grown on stored and summer rainfall but southern
                    Australia is too dry for this to be considered.
                  </p>
                  <p>
                    Soybeans are a very photo-period sensitive plant, meaning the trigger to start flowering is brought
                    on by the decreasing day length after the summer solstice on 22 December. In southern latitude
                    climates such as Victoria it is important to maximise vegetative growth before this period to
                    maximise yield.<br />
                    Experience has shown that there is little value in very early sowing and that 15 November is an
                    optimum date in most years.
                  </p>
                </div>
                <div class="col-12 col-md-6 mb-3 fs-5">
                  <p>Sowing too late leads to a crop unable to reach:</p>
                  <ul>
                    <li>optimum vegetative growth</li>
                    <li>low pods</li>
                    <li>lengthens the maturity time into late April or May</li>
                  </ul>
                  <p>Lengthening the maturity time can increase the risk of:</p>
                  <ul>
                    <li>weather damage</li>
                    <li>late harvest</li>
                    <li>small immature seed</li>
                    <li>reduced time available for winter crop planting</li>
                  </ul>
                </div>
                <div class="col-12 col-md-6 mb-3 fs-5 text-center">
                  <figure class="m-0">
                    <img
                      class="img-fluid rounded"
                      src="https://static.agriculture.com/styles/node_article_image_full_large/s3/image/2021/03/08/28631%20soybean%20field.JPG?timestamp=1615237896 360w"
                      alt="soybeans"
                    />
                  </figure>
                </div>
                <div class="col-md-12 mb-5 fs-5">
                  <p>
                    Varieties grown in Victoria have an indeterminate growth habit. Flowering starts 50 to 60 days after
                    sowing (20 to 35cm height) and continues through to between 80 to 120cm. The crop reaches
                    physiological maturity 140 days after sowing.
                  </p>
                </div>
                <!--row 1-->

                <!--row 2-->
                <div class="col-md-12 mb-5 fs-5">
                  <h3 class="mb-3 ff-lato-7 fs-3">Postemergence Phase</h3>
                  <p>
                    Farmers now have several postemergence herbicide-tolerant trait platforms from which to choose.
                    Genetics, though, should drive the seed selection choice and not the trait platform, say university
                    agronomists and weed scientists.
                  </p>
                  <p>
                    U of M weed scientists found no significant yield differences of soybean varieties in the Xtend
                    (tolerance to glyphosate and dicamba) and Enlist E3 (tolerance to 2,4-D choline, Group 4;
                    glyphosate; and glufosinate, Group 10) systems across three sites in 2021.
                  </p>
                  <p>
                    “The main overriding factor [for variety selection] in these systems is genetic yield potential,”
                    says Hoverstad. Through due diligence in variety selection, farmers can find varieties that yield
                    well in either program, he adds.
                  </p>
                  <p>
                    Some yield differences resulted in University of Wisconsin (U of W) 2020 trials comparing soybean
                    varieties in Xtend, Enlist E3, and LibertyLink GT27 (tolerance to Alite 27, Group 27; glyphosate;
                    and glufosinate). However, there was no clear yield trend in varieties across all platforms on a
                    statewide basis.
                  </p>
                  <p>
                    “There are very good varieties among different platforms,” says Shawn Conley, U of W Extension
                    agronomist. He advises farmers to research variety trials and choose top-yielding varieties for
                    their area based on genetics.
                  </p>
                  <p>
                    Mixing effective multiple herbicide sites of action also is key with postemergence herbicides used
                    on herbicide-tolerant varieties, says Puck.
                  </p>
                  <p>
                    “Going with just one herbicide site of action is a big mistake,” says Puck. In the case of Enlist E3
                    soybeans, the preferred tank mix partners for Enlist One (stand-alone 2,4-D choline) are Durango DMA
                    herbicide (glyphosate) or Liberty (glufosinate).
                  </p>
                  <p>
                    Not all herbicides play well together in the spray tank, though. Glyphosate and glufosinate mixed
                    together can result in antagonism that triggers weed escapes, says Hoverstad. That’s why farmers and
                    applicators need to check labels before mixing, he adds.
                  </p>
                </div>
                <!--row 2-->
              </div>
            </div>
            <!--nav-item-2-->

            <!--nav-item-3-->
            <div class="tab-pane fade show bg-white" id="nav-item3" role="tabpanel" aria-labelledby="nav-item3-tab">
              <div class="row align-items-center justify-content-center p-4">
                <!--row 1-->
                <div class="col-md-12 mb-5 fs-5">
                  <h3 class="mb-3 ff-lato-7 fs-3">Production</h3>
                  <p class="fs-5 t-indent-2">
                    There’s no official guidebook for how to grow corn because growth is so dependent on weather
                    conditions.
                    <a href="https://www.agriculture.com/crops/corn/how-to-battle-northern-corn-leaf-blight">
                      If the weather is too cool and wet, Northern Corn Leaf Blight could set in</a
                    >. Hot and dry weather may create the perfect environment for root rot and common smut. Besides
                    these common diseases, there are a plethora of other pests to manage.
                  </p>
                  <p>
                    One way to give corn its best shot at thriving is through proper nutrient management. Choosing the
                    right fertilizer and application dates are key to yield success.
                    <a href="https://www.agriculture.com/crops/fertilizers/5-nutrient-deficiencies-to-watch">
                      Pay close attention to nitrogen (N), phosphorous (P), potassium (K), sulfur (S), and zinc (Zn) for
                      healthy corn plants</a
                    >. Plants deficient in N, P, and K, especially, will never reach their full yield potential.
                  </p>
                  <p>
                    <a href="https://www.agriculture.com/crops/fertilizers/4-steps-f-latefall-nitrogen_174-ar35024"
                      >Fall applications can be made</a
                    >
                    dependent on location and soil type. If it’s still recommended by your local Extension, remember to
                    wait until the soils are 50°F. and trending cooler. N inhibitors are another way to protect your
                    investment – in both the spring and fall.
                  </p>
                </div>
                <!--row 1-->

                <!--row 2-->
                <div class="col-md-12 mb-5 fs-5">
                  <h3 class="mb-3 ff-lato-7 fs-3">Harvest</h3>
                  <p>
                    When it’s corn harvest time, farmers have little time for much else. When moisture levels are in the
                    23% to 25% range, combines should be ready to roll. However, adjusting a combine is a balancing
                    act—and one that needs to be performed well in advance.
                    <a
                      href="https://www.agriculture.com/machinery/harvest-equipment/7-combine-tweaks-to-boost-speed_203-ar33059"
                    >
                      Make these seven tweaks to your combine to ensure a speedy, efficient harvest</a
                    >
                    this year.
                  </p>
                  <p>
                    A number of issues can come into play during harvest. Everything from wet corn to downed corn to
                    freezing conditions and more.
                    <a
                      href="https://www.agriculture.com/machinery/harvest-equipment/combines/9-tips-f-dealing-with-down-cn_204-ar50303"
                      >If facing downed corn, check out these nine tips</a
                    >
                    for harvesting as many bushels as you can in a tricky situation. Stalk rot flourishes in lodged
                    corn, so prioritize those fields in your harvest schedule.
                  </p>
                  <p></p>
                </div>
                <!--row 2-->

                <!--row 3-->
                <div class="col-md-12 mb-5 fs-5">
                  <h3 class="mb-3 ff-lato-7 fs-3">Aiming for High Corn Yields</h3>
                  <p>
                    High yields are the trophy at the end of the marathon that is the growing season. If high-yield
                    factors like nutrients, hybrid type, plant populations, and specific management practices are in
                    place, agronomists see
                    <a href="https://www.agriculture.com/crops/corn/how-to-push-high-yields-higher">
                      consistent yield increases when applying a fungicide at tassel</a
                    >. However, it can be hard to know what specific factors are helping or hindering your yield goals.
                  </p>
                  <p>
                    <a href="https://www.agriculture.com/crops/corn/what-you-can-learn-from-yield-contests">
                      Yield contests are perfect resources for finding how to boost your bushels per acre</a
                    >. Although plots are often under intense management, yield contest plots a great way to see what
                    results can come from heavy scouting, sampling, and responding quickly to plant needs. If entering a
                    contest, start with the basics and look for room for improvement. And if watching, take notes!
                  </p>
                </div>
                <!--row 3-->

                <!--row 4-->
                <div class="col-md-12 mb-5 fs-5">
                  <div class="ratio ratio-16x9">
                    <iframe
                      width="560"
                      height="315"
                      src="https://www.youtube-nocookie.com/embed/Vlv9ng5iqZI"
                      frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen
                    ></iframe>
                  </div>
                </div>
                <!--row 4-->
              </div>
            </div>
            <!--nav-item-3-->

            <!--nav-item-4-->
            <div class="tab-pane fade show bg-white" id="nav-item4" role="tabpanel" aria-labelledby="nav-item4-tab">
              <div class="row align-items-center justify-content-center p-4">
                <!--row 1-->
                <div class="col-md-12 mb-5 fs-5">
                  <h3 class="mb-3 ff-lato-7 fs-3">Cultivation</h3>
                  <p>
                    The cultivation of rice begins by planting water-soaked seeds in a properly prepared bed.
                    Oftentimes, the seedlings are transplanted to the paddy when they reach a certain size. When the
                    grains begin to ripen, the water is drained from the fields. Harvesting begins when the grain yellow
                    and the plants start to droop
                  </p>
                  <p>
                    Depending on the size of the operation and the amount of mechanization, rice is either harvested by
                    hand or machine. Once harvested, the rice is usually dried in the fields with the help of sunshine.
                  </p>
                </div>
                <!--row 1-->

                <!--row 2-->
                <div class="col-md-12 mb-5 fs-5">
                  <h3 class="mb-3 ff-lato-7 fs-3">Harvesting</h3>
                  <p>
                    Once the plants have reached full growth (approximately three months after planting) and the grains
                    begin to ripen—the tops begin to droop and the stem yellows—the water is drained from the fields. As
                    the fields dry, the grains ripen further and harvesting is commenced.
                  </p>
                  <p>
                    Depending on the size of the operation and the amount of mechanization, rice is either harvested by
                    hand or machine. By hand, rice stalks are cut by sharp knives or sickles. This practice still occurs
                    in many Asian countries. Rice can also be harvested by a mechanized hand harvester or by a
                    tractor/horse-drawn machine that cuts and stacks the rice stalks. In the United States, most
                    operations use large combines to harvest and thresh—separate the grain from the stalk—the rice
                    stalks.
                  </p>
                  <p>
                    If the rice has been harvested by hand or by a semi-automated process, threshing is completed by
                    flailing the stalks by hand or by using a mechanized thresher.
                  </p>
                  <p></p>
                </div>
                <!--row 2-->

                <!--row 3-->
                <div class="col-md-12 mb-5 fs-5">
                  <h3 class="mb-3 ff-lato-7 fs-3">Milling</h3>
                  <p>
                    Since it retains the outer bran layers of the rice grain, brown rice needs no other processing.
                    However along with added vitamins and minerals, the bran layers also contain oil that makes brown
                    rice spoil faster than milled white rice. That is one of the reasons why brown rice is milled
                    further to create a more visually appealing white rice.
                  </p>
                  <ul>
                    <li>
                      The brown rice runs through two huller machines that remove the outer bran layers from the grain.
                      With the grains pressed against the inner wall of the huller and a spinning core, the bran layers
                      are rubbed off. The core and inner wall move closer for the second hulling, ensuring removal of
                      all bran layers.
                    </li>
                    <li>The now light-colored grain is cooled and polished by a brush machine.</li>
                    <li>
                      The smooth white rice is conveyed to a brewer's reel, where over a wire mesh screen broken kernels
                      are sifted out. Oftentimes, the polished white rice is then coated with glucose to increase
                      luster.
                    </li>
                  </ul>
                </div>
                <!--row 3-->

                <!--row 4-->
                <div class="col-md-12 mb-5 fs-5">
                  <div class="ratio ratio-16x9">
                    <iframe
                      width="560"
                      height="315"
                      src="https://www.youtube-nocookie.com/embed/pIaxP-t_eu8"
                      frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen
                    ></iframe>
                  </div>
                </div>
                <!--row 4-->
              </div>
            </div>
            <!--nav-item-4-->

            <!--nav-item-5-->
            <div class="tab-pane fade show bg-white" id="nav-item5" role="tabpanel" aria-labelledby="nav-item5-tab">
              <div class="row align-items-center justify-content-center p-4">
                <!--row 1-->
                <div class="col-md-12 mb-5 fs-5">
                  <h3 class="mb-3 ff-lato-7 fs-3">How Are They Cultivated</h3>
                  <p>
                    Potatoes are grown as annual plants, with fields planted each spring, and harvested in the fall. All
                    potato plants look something like the picture here. The part of the plant we call a “potato” grows
                    underground. It grows on a specialized underground stem called a stolon. So, although potatoes grow
                    underground, they are stems, not roots, and are known as “tubers.”
                  </p>
                  <p>
                    It is surprising to many people that potato plants produce flowers – sometimes very attractive ones.
                    The fruits that grow from these flowers look a lot like green tomatoes, but they are not edible.
                  </p>
                  <p>
                    There are many different kinds of potatoes grown in Washington. Most of them are brown-skinned with
                    white flesh, and are called “russets.” Russet Burbank is the most common variety of russet potato.
                    It is grown for French fries and for the fresh market. Other russet varieties include Ranger Russet
                    (grown for French fries) and Russet Norkotah (grown for fresh potatoes sold by supermarkets and
                    baked by restaurants). Other varieties grown in Washington produce yellow, red, and blue potatoes.
                    Other varieties are grown specifically to be made into potato chips. For more information on potato
                    varieties in Washington, see the Recipes section of our web site.
                  </p>
                </div>
                <!--row 1-->

                <!--row 2-->
                <div class="col-md-12 mb-5 fs-5">
                  <h3 class="mb-3 ff-lato-7 fs-3">Production System</h3>
                  <p>
                    Most potatoes grown in Washington are grown in large fields of over 100 acres (there are 640 acres
                    in a square mile). Almost all potatoes grown in Washington have to be watered with sprinklers, known
                    as “irrigation.”
                  </p>
                  <p>
                    There just isn’t enough rain in Washington during the summer to grow potatoes without irrigation.
                    Many fields in Washington are irrigated using sprinkler systems called “center pivots.” These
                    machines pivot around a center point, and can irrigate fields well over 100 acres in size.
                    Electricity is used to drive motors on each pair of wheels. Complicated computerized control panels
                    ensure an even water supply for all the plants in the field.
                  </p>
                  <p>
                    Many plant diseases can infect potatoes. To help minimize their loss to diseases, farmers usually
                    grow potatoes in each field once in every four years. The three seasons between potato crops allow
                    time for potato-infecting diseases to die out in that field.
                  </p>
                  <p>
                    Prior to planting, growers determine how fertile the soil in their field is. They have the soil
                    analyzed to determine how much nitrogen, phosphorous, and other essential plant nutrients it
                    contains. Then the grower orders a fertilizer mix specially tailored to the needs of their
                    particular field. This will allow them to grow a high-quality potato crop without wasting fertilizer
                    (which costs them money).
                  </p>
                </div>
                <!--row 2-->

                <!--row 3-->
                <div class="col-md-12 mb-5 fs-5">
                  <div class="ratio ratio-16x9">
                    <iframe
                      width="560"
                      height="315"
                      src="https://www.youtube-nocookie.com/embed/JQ9J84JSFiU"
                      frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen
                    ></iframe>
                  </div>
                </div>
                <div class="col-md-12 mb-5 fs-5">
                  <h3 class="mb-3 ff-lato-7 fs-3">Planting</h3>
                  <p>
                    Potatoes are grown from special potatoes called “seed potatoes” which are cut into pieces (sometimes
                    left whole) and planted in the ground. These pieces of potato grow stems and roots from the “eyes.”
                    Because they are able to feed off the energy in the seed piece, potato plants grow very fast right
                    from the start.
                  </p>
                  <p>
                    Seed potatoes are cut using specialized equipment that are carefully tuned to get seed pieces of
                    nearly uniform size. Potato growers like to have all the plants in a field about the same size. This
                    helps maximize harvested tubers, and allows most of the tubers produced in a field about the same
                    size. Seed size is very important in starting a uniform planting of potatoes.
                  </p>
                  <p>
                    After cutting, seed pieces are usually treated with a “seed treatment” which helps prevent infection
                    with bacteria and fungi that can cause rot. Cut seed pieces are loaded into trucks and carried to
                    the field. There they are loaded into potato planting machines pulled by tractors. Many potato
                    planters are guided by GPS systems to keep the rows straight and seed potatoes planted uniformly.
                  </p>
                  <p>
                    Potatoes are planted in Washington starting the last week of February, and ending in early May. The
                    earliest areas are near Pasco, and the latest areas are northeast of Moses Lake.
                  </p>
                </div>
                <!--row 3-->
              </div>
            </div>
            <!--nav-item-5-->
          </div>
          <!--content box start-->
        </div>
      </section>
    </main>

    <footer>
      <!--footer-container-fluid-start-->
      <div class="container-fluid bg-yellow-1">
        <div class="container-xxl my-0 py-1 text-center">
          <a
            class="text-dark ff-lato-7 text-decoration-underline"
            href="https://morfi-react.vercel.app/"
          >
          Check the react version of this site
          </a>
          🚀
        </div>
      </div>
      <!--footer-container-fluid-end-->
      <!--footer-container-fluid-start-->
      <div class="container-fluid bg-darker-2">
        <!--footer-container-xxl-start-->
        <div class="container-xxl my-0">
          <!--footer-top-left-start-->
          <div class="p-3">
            <div class="text-center">
              <div class="h-100px mb-2 mx-auto">
                <img
                  class="w-100 h-100px"
                  src="../../img/logo/white_background/full_logo/svg/full_logo.svg"
                  alt="logo-image"
                />
              </div>
              <p class="mb-0 pt-1 ff-lato-4 fw-bold">© 2021 Morfi. All Rights Reserved.</p>
            </div>
          </div>
          <!--footer-top-left-end-->
        </div>
        <!--footer-container-xxl-end-->
      </div>
      <!--footer-container-fluid-end-->

      <!--footer-container-fluid-start-->
      <div class="container-fluid bg-dark">
        <!--footer-container-xxl-start-->
        <div class="container-xxl my-0 py-3">
          <!--footer-bottom-start-->
          <ul class="list-unstyled m-2 pt-3 m-lg-0 d-flex align-items-center justify-content-center">
            <li class="p-2">
              <a
                class="p-2 bg-white text-dark rounded-circle"
                href="https://www.facebook.com/"
                aria-label="facebook icon"
              >
                <i class="fab fa-facebook-f fa-fw fs-6"></i>
              </a>
            </li>
            <li class="p-2">
              <a class="p-2 bg-white text-dark rounded-circle" href="https://twitter.com/" aria-label="twitter icon">
                <i class="fab fa-twitter fa-fw fs-6"></i>
              </a>
            </li>
            <li class="p-2">
              <a
                class="p-2 bg-white text-dark rounded-circle"
                href="https://www.youtube.com/"
                aria-label="youtube icon"
              >
                <i class="fab fa-youtube fa-fw fs-6"></i>
              </a>
            </li>
            <li class="p-2">
              <a
                class="p-2 bg-white text-dark rounded-circle"
                href="https://www.instagram.com/"
                aria-label="instagram icon"
              >
                <i class="fab fa-instagram fa-fw fs-6"></i>
              </a>
            </li>
          </ul>
          <div class="row d-flex align-items-center justify-content-around my-0 mx-auto p-3 footer-bottom">
            <div class="col-12 col-lg-8 m-2 m-lg-0">
              <ul class="list-unstyled d-flex flex-column flex-md-row m-0 justify-content-center align-items-center">
                <li class="text-center mb-4 mb-lg-0 px-3 border-end-md">
                  <a class="footer-link text-white" href="#">Terms of Use</a>
                </li>
                <li class="text-center mb-4 mb-lg-0 px-3 border-end-md">
                  <a class="footer-link text-white" href="#">Terms and Conditions</a>
                </li>
                <li class="text-center mb-4 mb-lg-0 px-3 border-end-md">
                  <a class="footer-link text-white" href="#">Privacy Policy</a>
                </li>
                <li class="text-center mb-4 mb-lg-0 px-3">
                  <i class="fas fa-globe text-white"></i>
                  <label class="visually-hidden" for="change-language-bottom">Language</label>
                  <select
                    class="col text-center p-2 rounded bg-dark text-white"
                    name="change-language-bottom"
                    id="change-language-bottom"
                  >
                    <option selected value="English">English</option>
                    <option value="Spanish">Spanish</option>
                  </select>
                </li>
              </ul>
            </div>
          </div>
          <!--footer-bottom-end-->
        </div>
        <!--footer-container-xxl-end-->
      </div>
      <!--footer-container-fluid-end-->
    </footer>
    <!--bootstrap js-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
