<!DOCTYPE html>
<html lang="en">

<head>
  <!-- HTML Meta Tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TheMorfi - Classics</title>
  <meta name="description"
    content="The Morfi is a restaurant franchise dedicated to offering the public a new experience with food. Come and discover healthy meals, unique recipes, products of the best quality, events, and much more">
  <meta name="keywords" content="THE, MORFI, FOOD, HEALTHY, BEST">

  <!-- Google / Search Engine Tags -->
  <meta itemprop="name" content="The Morfi">
  <meta itemprop="description"
    content="The Morfi is a restaurant franchise dedicated to offering the public a new experience with food. Come and discover healthy meals, unique recipes, products of the best quality, events, and much more">
  <meta itemprop="image" content="https://i.imgur.com/NRUXriX.jpg">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://arguel.github.io/morfi">
  <meta property="og:type" content="website">
  <meta property="og:title" content="The Morfi">
  <meta property="og:description"
    content="The Morfi is a restaurant franchise dedicated to offering the public a new experience with food. Come and discover healthy meals, unique recipes, products of the best quality, events, and much more">
  <meta property="og:image" content="https://i.imgur.com/NRUXriX.jpg">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="The Morfi">
  <meta name="twitter:description"
    content="The Morfi is a restaurant franchise dedicated to offering the public a new experience with food. Come and discover healthy meals, unique recipes, products of the best quality, events, and much more">
  <meta name="twitter:image" content="https://i.imgur.com/NRUXriX.jpg">

  <!-- Main CSS -->
  <link rel="stylesheet" href="../../assets/css/main.css" type="text/css">
  <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">-->

  <!-- Google / Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">

  <!-- Tab Icon -->
  <link rel="icon" href="../../img/logo/white_background/small_logo_icon/svg/small_logo_icon.svg">

  <!--Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/1131adf3a1.js" crossorigin="anonymous"></script>
  <!--------------------->
</head>

<body>
  <header>

    <!--Start of nav-menu-container-->
    <div class="container-xxl">
      <nav class="navbar navbar-expand-lg navbar-light m-2">
        <div class="nav-logo">
          <a class="navbar-brand" href="/">
            <img class="h-100 w-auto" src="../../img/logo/white_background/medium_logo_side/svg/medium_logo_side.svg"
              alt="side-logo">
          </a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!--nav-->
          <ul class="navbar-nav align-items-center justify-content-around mx-auto col-lg-8">
            <!--Home-->
            <li class="nav-item">
              <a class="nav-link active fs-5" href="#" aria-current="page">Home</a>
            </li>
            <!--About-->
            <li class="nav-item dropdown text-center">
              <a class="nav-link fs-5" href="#" id="navbarDropdownMenuLinkAbout" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">About</a>
              <ul class="nav-color-list dropdown-menu text-center text-lg-start"
                aria-labelledby="navbarDropdownMenuLinkAbout">
                <li><a class="dropdown-item" href="views/about/about-us.html">About us</a></li>
                <li><a class="dropdown-item" href="views/about/locations.html">Locations</a></li>
                <li><a class="dropdown-item" href="views/about/our-products.html">Our products</a></li>
              </ul>
            </li>
            <!--Shop-->
            <li class="nav-item">
              <a class="nav-link fs-5" href="views/shop/shop.html">Shop</a>
            </li>
            <!--Recipes-->
            <li class="nav-item dropdown text-center">
              <a class="nav-link fs-5" href="#" id="navbarDropdownMenuLinkRecipes" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">Recipes</a>
              <ul class="nav-color-list dropdown-menu text-center text-lg-start"
                aria-labelledby="navbarDropdownMenuLinkRecipes">
                <li><a class="dropdown-item" href="views/recipes/recipes.html">Classics</a></li>
                <li><a class="dropdown-item" href="views/recipes/healthy-recipes.html">Healthy</a></li>
                <li><a class="dropdown-item" href="views/recipes/wholemeal-recipes.html">Wholemeal</a></li>
                <li><a class="dropdown-item" href="views/recipes/easy-recipes.html">Easy</a></li>
              </ul>
            </li>
            <!--Help-->
            <li class="nav-item dropdown text-center">
              <a class="nav-link fs-5" href="#" id="navbarDropdownMenuLinkHelp" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">Help</a>
              <ul class="nav-color-list dropdown-menu text-center text-lg-start"
                aria-labelledby="navbarDropdownMenuLinkHelp">
                <li><a class="dropdown-item" href="views/help/contact.html">Contact</a></li>
                <li><a class="dropdown-item" href="views/help/faq.html">FAQ</a></li>
              </ul>
            </li>
            <!--Searchbar-->
            <li class="nav-item">
              <form>
                <div class="input-group">
                  <button class="input-group-text nav-searchbar" id="search-icon" aria-label="searchbar icon">
                    <i class="fas fa-search"></i>
                  </button>
                  <input type="text" class="form-control nav-searchbar" placeholder="Search" aria-label="Search"
                    aria-describedby="search-icon">
                </div>
              </form>
            </li>
          </ul>
          <hr>
          <!--account-nav-->
          <ul class="navbar-nav align-items-center">
            <li class="nav-item d-block d-lg-flex text-center btn-login-container my-1">
              <a class="nav-link btn-login rounded text-nowrap px-4 py-3 px-lg-2 py-lg-2"
                href="views/account/login.html">Log in</a>
            </li>
            <li class="nav-item text-center btn-sign-up-container my-1">
              <a class="nav-link btn-sign-up rounded text-nowrap px-4 py-3 px-lg-2 py-lg-2"
                href="views/account/register.html">Sign up</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <!--End of nav-menu-container-->

  </header>

  <main>
    <section class="container-xxl my-5">
      <div class="row align-items-center bg-light-sm-white p-2 h-150px ff-lato-7 text-center">

        <div class="col-12 col-sm-3 bg-trans-sm-green-5-active">
          <a class="position-relative d-block" href="#">
            <figure class="m-0 d-none d-sm-block overflow-hidden">
              <img class="img-fluid opacity-75" src="http://placekitten.com/300/130" alt="#">
            </figure>
            <span class="position-absolute-xs-0 text-white top-50 start-50 translate-middle fs-4">Classics</span>
          </a>
        </div>
        <!--<hr>-->

        <div class="col-12 col-sm-3 bg-trans-sm-green-2">
          <a class="position-relative d-block" href="#">
            <figure class="m-0 d-none d-sm-block overflow-hidden">
              <img class="img-fluid opacity-50" src="http://placekitten.com/300/130" alt="#">
            </figure>
            <span class="position-absolute-xs-0 text-white top-50 start-50 translate-middle fs-4">Healthy</span>
          </a>
        </div>

        <div class="col-12 col-sm-3 bg-trans-sm-green-2">
          <a class="position-relative d-block" href="#">
            <figure class="m-0 d-none d-sm-block overflow-hidden">
              <img class="img-fluid opacity-50" src="http://placekitten.com/300/130" alt="#">
            </figure>
            <span class="position-absolute-xs-0 text-white top-50 start-50 translate-middle fs-4">Easy</span>
          </a>
        </div>

        <div class="col-12 col-sm-3 bg-trans-sm-green-2">
          <a class="position-relative d-block" href="#">
            <figure class="m-0 d-none d-sm-block overflow-hidden">
              <img class="img-fluid opacity-50" src="http://placekitten.com/300/130" alt="#">
            </figure>
            <span class="position-absolute-xs-0 text-white top-50 start-50 translate-middle fs-4">Wholemeal</span>
          </a>
        </div>

      </div>
    </section>

    <section class="container-xxl">
      <div class="row mb-5 justify-content-evenly">

        <!--recipes section-->
        <div class="col-11 col-md-10 col-lg-7 order-1 order-lg-0">
          <div class="row">

            <div class="col-12 mb-4 bg-light rounded border border-darker-3">
              <div class="row align-items-center justify-content-evenly p-2">
                <div class="col-12 col-sm-4 mx-auto mb-3 mb-sm-0">
                  <div class="rb-custom d-flex align-items-center">
                    <figure class="m-0 mx-auto">
                      <img class="img-fluid rounded max-h-300px"
                        src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F19%2F2011%2F01%2F05%2Fmeatless-meatballs-herbed-spaghetti-squash-oh-x.jpg"
                        alt="#">
                    </figure>
                  </div>
                </div>
                <div class="col-12 col-sm-8">
                  <div class="p-1">
                    <h4
                      class="border-bottom border-darker-3 border-2 fw-bold text-center border-darker-4 text-truncate-2 border-xs-0">
                      Meatless
                      Meatballs over Herbed Spaghetti Squash</h4>
                  </div>
                  <p class="t-indent-2 ff-lato-4 text-truncate-4 text-center text-sm-start">Reminiscent of classic
                    spaghetti and meatballs, this
                    meatless recipe will please both vegetarians and meat lovers. Spaghetti squash is a low-carb
                    alternative to traditional pasta noodles, while soy meatballs stand in for the beef variety.</p>
                </div>
              </div>
            </div>

            <div class="col-12 mb-4 bg-light rounded border border-darker-3">
              <div class="row align-items-center justify-content-evenly p-2">
                <div class="col-12 col-sm-4 mx-auto mb-3 mb-sm-0">
                  <div class="rb-custom d-flex align-items-center">
                    <figure class="m-0 mx-auto">
                      <img class="img-fluid rounded max-h-300px"
                        src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F19%2F2011%2F01%2F05%2Fcheese-tomato-omelet-oh-x.jpg"
                        alt="#">
                    </figure>
                  </div>
                </div>
                <div class="col-12 col-sm-8">
                  <div class="p-1">
                    <h4
                      class="border-bottom border-darker-3 border-2 fw-bold text-center border-darker-4 text-truncate-2 border-xs-0">
                      Cheese and
                      Tomato Omelet</h4>
                  </div>
                  <p class="t-indent-2 ff-lato-4 text-truncate-4 text-center text-sm-start">This veggie-packed omelet is
                    perfect for brunch or a
                    simple supper.
                    For a delicious side, serve a medley of fresh fruit, such as Mandarin Oranges with Kiwifruit and
                    Grapes.</p>
                </div>
              </div>
            </div>

            <div class="col-12 mb-4 bg-light rounded border border-darker-3">
              <div class="row align-items-center justify-content-evenly p-2">
                <div class="col-12 col-sm-4 mx-auto mb-3 mb-sm-0">
                  <div class="rb-custom d-flex align-items-center">
                    <figure class="m-0 mx-auto">
                      <img class="img-fluid rounded max-h-300px"
                        src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F19%2F2008%2F12%2F16%2Fchicken-salsa-ck-1867561-x.jpg&q=85"
                        alt="#">
                    </figure>
                  </div>
                </div>
                <div class="col-12 col-sm-8">
                  <div class="p-1">
                    <h4
                      class="border-bottom border-darker-3 border-2 fw-bold text-center border-darker-4 text-truncate-2 border-xs-0">
                      Lorem Ipsum is simply dummy</h4>
                  </div>
                  <p class="t-indent-2 ff-lato-4 text-truncate-4 text-center text-sm-start">Lorem Ipsum is simply dummy
                    text of the printing and
                    industry. Lorem
                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took
                    a galley of type and scrambled it to make a type specimen book</p>
                </div>
              </div>
            </div>

            <div class="col-12 mb-4 bg-light rounded border border-darker-3">
              <div class="row align-items-center justify-content-evenly p-2">
                <div class="col-12 col-sm-4 mx-auto mb-3 mb-sm-0">
                  <div class="rb-custom d-flex align-items-center">
                    <figure class="m-0 mx-auto">
                      <img class="img-fluid rounded max-h-300px"
                        src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F19%2F2011%2F01%2F05%2Flemon-pudding-cake-oh-x.jpg"
                        alt="#">
                    </figure>
                  </div>
                </div>
                <div class="col-12 col-sm-8">
                  <div class="p-1">
                    <h4
                      class="border-bottom border-darker-3 border-2 fw-bold text-center border-darker-4 text-truncate-2 border-xs-0">
                      Lemon
                      Pudding Cake</h4>
                  </div>
                  <p class="t-indent-2 ff-lato-4 text-truncate-4 text-center text-sm-start">Prepare this recipe in the
                    summertime when you're
                    craving a dessert
                    that's not too heavy. Lemon rind and juice provide tartness, which is balanced by the sweetness of
                    the fresh berries. This dessert is not quite a pudding and not quite a cake—it's something in
                    between. A puddinglike layer forms under the tender cake topping as it bakes. It tastes best when
                    served warm.</p>
                </div>
              </div>
            </div>

            <div class="col-12 mb-4 bg-light rounded border border-darker-3">
              <div class="row align-items-center justify-content-evenly p-2">
                <div class="col-12 col-sm-4 mx-auto mb-3 mb-sm-0">
                  <div class="rb-custom d-flex align-items-center">
                    <figure class="my-0 mx-auto">
                      <img class="img-fluid rounded max-h-300px"
                        src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F19%2F2011%2F01%2F05%2Fspaghetti-zucchini-white-beans-oh-x.jpg"
                        alt="#">
                    </figure>
                  </div>
                </div>
                <div class="col-12 col-sm-8">
                  <div class="p-1">
                    <h4
                      class="border-bottom border-darker-3 border-2 fw-bold text-center border-darker-4 text-truncate-2 border-xs-0">
                      Spaghetti with Zucchini and White Beans</h4>
                  </div>
                  <p class="t-indent-2 ff-lato-4 text-truncate-4 text-center text-sm-start">Tender spaghetti noodles
                    capture the fresh taste of the chunky bean and vegetable sauce, while a sprinkling of feta cheese
                    adds a finishing touch.</p>
                </div>
              </div>
            </div>

          </div>
        </div>
        <!--recipes section-->

        <!--info section-->
        <div class="col-12 col-lg-3 order-0 order-lg-1">
          <div class="row flex-column">
            <div class="col-12 mb-3 border">
              <h3 class="text-center ff-lato-4 m-0 p-3">Types</h3>
              <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                      <span>Salad</span>
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate
                      the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                      <span>Pasta</span>
                    </button>
                  </h2>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate
                      the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine
                      this being filled with some actual content.</div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                      <span>Meat</span>
                    </button>
                  </h2>
                  <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate
                      the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more
                      exciting happening here in terms of content, but just filling up the space to make it look, at
                      least at first glance, a bit more representative of how this would look in a real-world
                      application.</div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                      <span>Dessert</span>
                    </button>
                  </h2>
                  <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate
                      the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more
                      exciting happening here in terms of content, but just filling up the space to make it look, at
                      least at first glance, a bit more representative of how this would look in a real-world
                      application.</div>
                  </div>
                </div>

              </div>
            </div>
            <div class="col-12 mb-3 border bg-green-3 d-none d-lg-block">
              <h4 class="text-center text-white ff-lato-4 m-0 p-3">Featured recipes</h4>
            </div>
            <div class="col-12 mb-3 d-none d-lg-block">

              <div class="card">
                <!--<img src="http://placekitten.com/300/200" class="card-img-top" alt="">-->
                <img
                  src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/delish-202102-airfryerfalafel-166-ls-1612563147.jpg?crop=1.00xw:1.00xh;0,0&resize=640:*"
                  class="card-img-top" alt="">
                <div class="card-body ff-lato-4">
                  <h5 class="card-title">Air Fryer Falafel</h5>
                  <p class="card-text text-truncate-4">Some quick example text to build on the card title and make up
                    the bulk of the
                    card's content.</p>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!--info section-->

      </div>
    </section>

    <!--pagination-->
    <section class="container-xxl mb-5">
      <nav aria-label="shop navigation">
        <ul class="pagination flex-wrap align-items-center justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
          <li class="page-item active"><a class="page-link px-3" href="#">1</a></li>
          <li class="page-item"><a class="page-link px-3" href="#">2</a></li>
          <li class="page-item"><a class="page-link px-3" href="#">3</a></li>
          <li class="page-item"><a class="page-link px-3" href="#">4</a></li>
          <li class="page-item"><a class="page-link px-3" href="#">5</a></li>
          <li class="page-item"><a class="page-link px-3" href="#">6</a></li>
          <li class="page-item"><a class="page-link px-3" href="#">7</a></li>
          <li class="page-item"><a class="page-link px-3" href="#">8</a></li>
          <li class="page-item"><a class="page-link px-3" href="#">9</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </section>
    <!--pagination-->
  </main>

  <footer>
    <!--footer-container-fluid-start-->
    <div class="container-fluid bg-darker-2">
      <!--footer-container-xxl-start-->
      <div class="container-xxl my-0">
        <!--footer-top-start-->
        <div class="row d-flex align-items-center justify-content-around footer-top m-0">
          <!--footer-top-left-start-->
          <div class="row align-items-center justify-content-evenly col-lg-3 p-0">
            <div class="col-8 p-0 text-center d-none d-lg-block">
              <div class="mw-200px h-100px overflow-hidden mb-2 mx-auto">
                <img class="w-100 h-100px" src="../../img/logo/white_background/full_logo/svg/full_logo.svg"
                  alt="logo-image">
              </div>
              <p class="fs-6 mb-0 text-dark mw-200px mx-auto">Since 1997 making our customers happy</p>
            </div>
            <ul
              class="col col-sm-7 col-md-2 list-unstyled m-2 m-lg-0 p-0 d-flex flex-row flex-lg-column align-items-center justify-content-evenly">
              <li class="my-2 my-lg-3 mx-2 mx-lg-0">
                <a class="p-2 bg-dark text-white rounded-circle" href="#" aria-label="facebook icon">
                  <i class="fab fa-facebook-f fa-fw fs-6"></i>
                </a>
              </li>
              <li class="my-2 my-lg-0 mb-lg-3 mx-2 mx-lg-0">
                <a class="p-2 bg-dark text-white rounded-circle" href="#" aria-label="twitter icon">
                  <i class="fab fa-twitter fa-fw fs-6"></i>
                </a>
              </li>
              <li class="my-2 my-lg-0 mb-lg-3 mx-2 mx-lg-0">
                <a class="p-2 bg-dark text-white rounded-circle" href="#" aria-label="youtube icon">
                  <i class="fab fa-youtube fa-fw fs-6"></i>
                </a>
              </li>
              <li class="my-2 my-lg-0 mb-lg-3 mx-2 mx-lg-0">
                <a class="p-2 bg-dark text-white rounded-circle" href="#" aria-label="instagram icon">
                  <i class="fab fa-instagram fa-fw fs-6"></i>
                </a>
              </li>
            </ul>
            <select class="col-4 d-block d-lg-none p-2 rounded" name="change-language" id="change-language">
              <option selected value="English">English</option>
              <option value="Spanish">Spanish</option>
            </select>
            <hr class="d-block d-lg-none my-0">
          </div>
          <!--footer-top-left-end-->
          <!--footer-top-right-start-->
          <div class="col-12 col-lg-8 mt-3 p-0">
            <div class="row d-flex justify-content-evenly w-100 m-0">
              <div class="col-6 col-lg-2 text-center text-lg-start mb-3">
                <h5 class="mb-2 mb-lg-4"><a href="#" class="text-dark h-white">Home</a></h5>
                <ul class="list-unstyled">
                  <li class="mb-1"><a class="text-dark h-white" href="#">Events</a></li>
                  <li class="mb-1"><a class="text-dark h-white" href="#">Newsletter</a></li>
                </ul>
              </div>
              <div class="col-6 col-lg-2 text-center text-lg-start mb-3">
                <h5 class="mb-2 mb-lg-4"><a href="#" class="text-dark h-white">About</a></h5>
                <ul class="list-unstyled">
                  <li class="mb-1"><a class="text-dark h-white" href="#">About us</a></li>
                  <li class="mb-1"><a class="text-dark h-white" href="#">Locations</a></li>
                  <li class="mb-1"><a class="text-dark h-white" href="#">Our products</a></li>
                </ul>
              </div>
              <div class="col-6 col-lg-2 text-center text-lg-start mb-3">
                <h5 class="mb-2 mb-lg-4"><a href="#" class="text-dark h-white">Shop</a></h5>
                <ul class="list-unstyled">
                  <li class="mb-1"><a class="text-dark h-white" href="#">Catalogue</a></li>
                  <li class="mb-1"><a class="text-dark h-white" href="#top-offers">Top offers</a></li>
                </ul>
              </div>
              <div class="col-6 col-lg-2 text-center text-lg-start mb-3">
                <h5 class="mb-2 mb-lg-4"><a href="#" class="text-dark h-white">Recipes</a></h5>
                <ul class="list-unstyled">
                  <li class="mb-1"><a class="text-dark h-white" href="#">Classics</a></li>
                  <li class="mb-1"><a class="text-dark h-white" href="#">Healthy</a></li>
                  <li class="mb-1"><a class="text-dark h-white" href="#">Wholemeal</a></li>
                  <li class="mb-1"><a class="text-dark h-white" href="#">Easy</a></li>
                </ul>
              </div>
              <div class="col-12 col-lg-2 text-center text-lg-start mb-3">
                <h5 class="mb-2 mb-lg-4"><a href="#" class="text-dark h-white">Help</a></h5>
                <ul class="list-unstyled">
                  <li class="mb-1"><a class="text-dark h-white" href="#">Contact</a></li>
                  <li class="mb-1"><a class="text-dark h-white" href="#">FAQ</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!--footer-top-right-end-->
        </div>
        <!--footer-top-end-->
      </div>
      <!--footer-container-xxl-end-->
    </div>
    <!--footer-container-fluid-end-->

    <!--footer-container-fluid-start-->
    <div class="container-fluid bg-dark">
      <!--footer-container-xxl-start-->
      <div class="container-xxl my-0">
        <!--footer-bottom-start-->
        <div class="row d-flex align-items-center justify-content-around my-0 mx-auto p-3 footer-bottom">
          <div class="col-12 col-lg-8 m-2 m-lg-0">
            <div class="row align-items-center">
              <div class="col text-center mb-2 mb-lg-0"><a class="footer-link text-white" href="#">Terms of Use</a>
              </div>
              <div class="col text-center mb-2 mb-lg-0"><a class="footer-link text-white" href="#">Terms &
                  Conditions</a>
              </div>
              <div class="col text-center mb-2 mb-lg-0"><a class="footer-link text-white" href="#">Privacy Policy</a>
              </div>
              <div class="col text-center mb-2 mb-lg-0 d-none d-lg-block">
                <i class="fas fa-globe text-white"></i>
                <select class="col text-center p-2 rounded bg-dark text-white" name="change-language"
                  id="change-language">
                  <option selected value="English">English</option>
                  <option value="Spanish">Spanish</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-3 text-white text-center m-2 m-lg-0">© 2020 Morfi. All Rights Reserved.</div>
        </div>
        <!--footer-bottom-end-->
      </div>
      <!--footer-container-xxl-end-->
    </div>
    <!--footer-container-fluid-end-->
  </footer>

  <!--<script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>-->
  <!--bootstrap js-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
</body>

</html>
