//colors
$color-darker-5: #212121;
$color-darker-4: #757575;
$color-darker-3: #BDBDBD;
$color-darker-2: #D7D7D7;
$color-darker-1: #DCEDC8;

$color-green-5: #009736;
$color-green-4: #00C600;
$color-green-3: #689F38;
$color-green-2: #8BC34A;
$color-green-1: #CDDC39;

$color-cyan-1: #22C1C3;


//custom bootstrap classes

$border-radius:               .40rem;
$border-radius-sm:            .50rem;
$border-radius-lg:            .80rem;
$border-radius-pill:          50rem;

$black:    $color-darker-5;

